@media screen and (max-width: 992px) {
  header .box-nav span {
    display: none;
  }
}
header {
  background-color: rgb(25, 24, 31);
  padding: 15px;
  color: rgb(4, 211, 97);
  font-size: 1.1rem;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0, 0.2);
}
header h1 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 22);
  padding: 10px ;
  border-radius: 10px;
  color: rgb(4, 211, 97);
  text-decoration: none;
}
header h1 span {
  padding-left: 10px;
}

header img.flag {
  width: 50px;
  border-radius: 10px;
} 
header a.nav {
  text-decoration: none;
  background-color: rgb(17, 17, 22);
  color: rgb(4, 211, 97);
  padding: 8px 15px ;
  border-radius: 100px;
  transition: all 0.5s;
}
header a.nav:hover {

  color: rgb(17, 17, 22, 0.5);
  background-color: rgb(4, 211, 97);
}
.container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

header .box-nav  a{
  margin-left: 10px;
}
header .git {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}