footer {
  background-color:  rgba(25, 24, 31, 0.8);
  padding: 15px;
  color: #ffffff;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-footer img{
width: 15px;
}
#main-footer a {
  text-decoration: none;
  color: rgb(4, 211, 97);
  font-weight: 600;
}